@use "sass:math";
@import "../utils.scss";

.test {
  color: red;
}

.wrapperWork {
  display: flex;
  flex-direction: row;
}

.section {
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    height: auto;
  }

  .slide {
    display: grid;
    grid-template-columns: 2;
    cursor: grabbing;
  }

  .steps {
    width: 100%;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: rem(32);

    @media (max-width: $mobileSmall) {
      justify-content: center;
    }
  }

  .step {
    transition: all 0.7s ease-in;
    box-shadow: -2px 2px 30px rgba(0, 0, 0, 0.1);
    width: 245px;
    position: relative;
    z-index: 1;
    border-radius: 10px;

    &:not(:last-child) {
      padding-right: rem(16);
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 2;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: rem(2);
      background: #c7c7c7;
      visibility: hidden;
    }

    @media (max-width: $tablet) {
      padding-right: 0 !important;

      &:not(:global(.mobile)),
      &::after {
        display: none;
      }
    }

    &:global(._prev-active) {
      &::after {
        visibility: visible;
        background: #2ca066;
      }

      p {
        background: #2ca066;
        color: #ffffff;
      }
    }

    &:global(._active) {
      &::after {
        visibility: visible;
      }

      p {
        background: #2ca066;
        color: #ffffff;
      }
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110%;
      border-radius: 10px;
      color: #2ca066;
      background: #ffffff;

      padding: 0.8rem 1.4rem;
    }
  }

  .text {
    pointer-events: none;
    font-weight: 400;
    line-height: 164.5%;
    color: $strong;
    padding-bottom: rem(122);
    @include adaptiveValue("font-size", 23, 18, $containerWidth, $minWidth, 1);

    .swiper-slide-active & {
      pointer-events: auto;
    }

    @media (max-width: $mobile) {
      padding-bottom: rem(30);
    }

    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }

  :global {
    .controls {
      position: relative;
      z-index: 2;
      pointer-events: none;

      @media (min-width: $mobile) {
        width: 100%;
      }

      &__shell {
        @media (min-width: $mobile) {
          @include adaptiveValue("gap", 135, 30, $containerWidth, 992, 1);
        }
      }

      &__grid {
        pointer-events: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        gap: rem(20);
        grid-column: 2/3;
        align-items: center;
        justify-content: space-between;
        width: rem(276);

        @media (min-width: $mobile) {
          padding-bottom: rem(42);
        }

        @media (max-width: $mobileSmall) {
          justify-items: center;
          grid-template-columns: rem(40) 1fr rem(40);
          width: 100%;
        }
      }
    }

    .swiper-pagination {
      grid-column: span 2;
      border-radius: 100px;
      @media (max-width: $mobileSmall) {
        grid-column: span 3;
        order: 1;
      }

      .swiper-pagination-progressbar-fill {
        background-color: #2ca066;
      }
    }

    .fraction {
      @media (max-width: $mobileSmall) {
        order: 3;
      }
    }

    .arrows {
      justify-self: end;

      @media (max-width: $mobileSmall) {
        display: contents;
      }

      .arrow--next {
        &.animating:not(.hovered) {
          .timer {
            &__progress {
              animation: timer 5s forwards linear;
            }
          }
        }

        &:not(.hovered) .timer {
          &__progress {
            stroke-dashoffset: 125.66368;
          }
        }

        @media (max-width: $mobileSmall) {
          order: 4;
        }
      }

      .arrow--prev {
        @media (max-width: $mobileSmall) {
          order: 2;
        }
      }
    }
  }
}

.stepsContainer {
  width: 90vw;
  padding: 1rem 2rem;
}
.pagination {
  border-radius: 4px;
  width: 250px;
  background-color: #f2f2f2;
}
.steps-container {
  width: 250px;
}
