@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./utils.scss";
@import "./base/swiper.scss";
@import "./components/Slider.module.scss";

// @import "./libs/swiper.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "apercu_bold";
  src: url("../fonts/apercu_bold_pro-webfont.woff2") format("woff2"),
    url("../fonts/apercu_bold_pro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu_medium";
  src: url("../fonts/apercu_medium_pro-webfont.woff2") format("woff2"),
    url("../fonts/apercu_medium_pro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu_regular";
  src: url("../fonts/apercu_regular_pro-webfont.woff2") format("woff2"),
    url("../fonts/apercu_regular_pro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.slide-container {
  display: grid;
  justify-items: center;
}
.nav > li {
  cursor: pointer;
}

.about {
  box-shadow: 4px 4px 30px rgba(34, 34, 34, 0.1);
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes timer {
  from {
    stroke-dashoffset: 125.66368;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.arrow {
  pointer-events: auto;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(rem(1));
    font-size: rem(12);
  }
  &.swiper-button-disabled {
    svg {
      opacity: 0.5;
    }
  }
  &--prev {
    transform: rotate(-180deg);
  }
}
.arrows {
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(2, rem(40));
  gap: rem(12);
  padding-right: 6rem;
}
.timer {
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  width: rem(40);
  height: rem(40);
  svg {
    width: rem(40);
    height: rem(40);
    .loaded & {
      transition: opacity 0.3s ease 0s;
    }
  }
  &__background {
    fill: none;
    stroke-width: rem(2);
    stroke: transparent;
  }
  &__progress {
    fill: none;
    stroke-width: rem(2);
    stroke: #2ca066;
    stroke-linecap: round;
    stroke-dasharray: 125.66368;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}

.review {
  background-image: url("../public/svg/customerLines.svg");
  background-repeat: no-repeat;
  margin-top: -200px;
  margin-bottom: -80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.keen-slider__slide {
  display: grid;
  padding-left: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 100%;
}

#about-slider {
  @media (min-width: $mobile) {
    display: none;
  }
}
.price li {
  display: flex;
  align-items: center;
  gap: 8px;
}
